<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.ouyang</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>37D09C16-ED1F-456F-9BA4-22613085F268</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A3A6A33-2F45-4DA5-9598-44CF18AB140B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>oylbin</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>时间戳转换</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ts</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>转换中</string>
				<key>script</key>
				<string>python query.py "{query}"</string>
				<key>title</key>
				<string>时间戳</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>37D09C16-ED1F-456F-9BA4-22613085F268</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0A3A6A33-2F45-4DA5-9598-44CF18AB140B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>将当前时间或者指定的时间戳转换为指定格式的字符串</string>
	<key>uidata</key>
	<dict>
		<key>0A3A6A33-2F45-4DA5-9598-44CF18AB140B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>37D09C16-ED1F-456F-9BA4-22613085F268</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://ouyang.me</string>
</dict>
</plist>
